.page{
    width: 50%;
    display: flex;
    flex-direction: column;
    height: 100vh;
   
}
.Layout{background-color: aqua;}
.Layout2{font-size: 25px;}

.top{ display:flex; justify-content: center;}
.title{background-color: red; flex-basis: 100%; padding-left: 100px;}
.menu{background-color: blue;width:100px ; float: right; }
.search{background-color: aqua;}
.content{background-color:green; height: 100%;}

@media (max-width: 696px){
    .page{
        width: 100%;
                display: flex;
        flex-direction: column;

       
    }
}